<!doctype html>
<html>

<head>
    <title> Tic-Tac-Toe Game</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="myCSS.css">

</head>

<body>
    <div class="container text-center">
        <div class="item title">Tic-Tac-Toe
        </div>

        <div class="item">
            <ol>
                <li> First player sets up their nickname. </li>
                <li> Clicks 'Create Game' and sends the GameID to second player. </li>
                <li> Second player enters the GameID, sets up their nickname and the game is started. </li>
                <li> The game is played like a regular tic tac toe game. </li>
            </ol>
        </div>

        <div class="item">
            <button onclick="location.href='index.html'" type="button">Go Back.</button>
        </div>
    </div>

</body>

</html>